html  {
  font-size: 18px;
}

body  {

}

@media only screen and (max-width: 810px) {
  html{
    font-size: 12px;
  }
}

/*Header*/

.header {
  display: flex;
  height: 64px;
  padding: 0 24px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#colmar {
  color: black;
  font-weight: 600;
}

#academy  {
  color: grey;
}

.menu {
  display: inline-flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.menu li a {
  padding-left: 16px;
  text-decoration: none;
  font-size: 1.1rem;
  color: grey;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 810px) {
  .header {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .mobile-nav {
    display: flex;
    height: 64px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
}

/*Banner*/

.banner {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: row;
  line-height: 1.3;
}

.banner-img {
  padding: 32px 40px 32px 24px;
  width: 60%;
  overflow: hidden;
}

.banner-img img {
  max-width: 100%;
  height: auto;
}

.banner-txt {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}

h1  {
  color: rgb(90, 90, 90);
  font-weight: 900;
  font-size: 2.6rem;
  font-family: sans-serif;
}

h2  {
  color: rgb(90, 90, 90);
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 1.2rem 0;
  font-weight: bold;
}

.banner-txt .button {
  color: rgb(230, 230, 230);
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgb(80, 80, 80);
  font-family: sans-serif;
  font-size: 1.2rem;
}

@media only screen  and (max-width: 810px)  {
  .banner {
    flex-direction: column;
  }

  .banner-img {
    height: 180px;
    width: 100%;
    padding: 0 0;
  }

  .banner-img img {
    display: none;

  }

  .banner-txt {
    align-self: center;
    padding: 16px 16px;
  }

  .banner-txt h1  {
    padding-top: 16px;
  }

  .banner-txt h2  {
    padding-top: 32px;
  }

  .banner-txt .button {
    margin: 24px 0 16px 0;
    font-weight: bold;
  }
}

/*News section*/

.news {
  display: flex;
  flex-direction: row;
  width: auto;
}

.main {
  padding: 0 24px;
  width: 60%;
}

.main-img {
  margin: 32px  0;
  max-width: 100%;
}

.main-img img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.main-text  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.main-text h1 {
  margin-bottom: 24px;
}

p {
  color: grey;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 7%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1.5px solid rgb(200, 200, 200);
  padding-top: 16px;
}

.info :hover {
  background-color: rgb(220, 220, 220);
}

.info-block {
  width: auto;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 16px 0 16px 16px;
}

.info-img {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.info-text  {
  width:  65%;
  margin-left: 16px;
}

.info-text  a  {
  text-decoration: none;
  color: #00BFFF;
  font-size: 1.4rem;
}

.mobile-img {
  display: none;
}

@media only screen and (max-width: 810px) {
  .main {
    display: none;
  }

  .info {
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .info-block {
    flex-direction: column;
    width: 100%;
  }

  .info-img {
    width:auto;
    margin-right: 16px;
  }

  .mobile-img {
    display: inherit;
    overflow: visible;
    width: 100%;
  }

  .desktop-img  {
    display: none;
  }
}

/*Program Menu*/

.program-menu {
  background-color: rgb(220, 220, 220);
  padding: 32px 0;
}

.program-menu h1  {
  text-align: center;
  padding-bottom: 32px;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.program  {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  margin: 32px 32px;
  border-radius: 10px;
}

.program-img  img {
  max-width: 100%;
  border-radius: 10px;
}

.program-text {
  padding: 16px 24px;
}

.program-text h3 {
  padding: 8px 0;
}

.mobile-program {
  display: none;
  margin: 0 16px 8px 16px;
  border-radius: 10px;
}

.mobile-program button  {
  display: block;
  padding: 16px 0 16px 16px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(220, 220, 220);
  color: rgb(90, 90, 90);
}

@media only screen and (max-width: 810px) {
  .mobile-program {
    display: block;
  }

  .program  {
    display: none;
  }

  .program-menu {
    background-color: white;
  }

  .programs {
    display: block;
  }
}

/*Thesis section*/

.thesis {
  padding: 32px 0;
}

.thesis h1  {
  text-align: center;
  display: block;
  padding: 24px 0;
}

.thesis-container {
  display: flex;
}

.thesis-video {
  max-width: 60%;
  padding: 32px 16px 32px 24px;
}

.thesis-video video {
  max-width: 100%;
}

.thesis .info {
  border: none;
}

@media only screen and (max-width: 810px) {
  .thesis .info {
    display: none;
  }

  .thesis-video h1,
  .thesis-video p {
    display: none;
  }

  .thesis-video {
    max-width: 100%;
    padding: 8px 0 24px 0;
  }
}

footer {
  padding: 24px 0 0 24px;
  border-top: 2px solid rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer ul li a  {
  padding: 0 1rem;
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-size: 1rem;
}

@media only screen and (max-width: 810px) {
  footer ul {
    display: none;
  }

  footer {
    padding-top: 16px;
    border: none;
  }

  footer p {
    width: 100%;
  }
}
